/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body { font-family: 'Montserrat', sans-serif; font-size: 16px; font-weight: 300; color: #777480;
    margin: 0; padding: 0; background: #faffff; 
     margin: 0 auto; position: relative;}


#page { max-width: 1200px; margin: 0 auto 5em auto; position: relative; }

/* Text */

h1 { margin: 0 0 1em 0; font-size: 2.8em; font-weight: 300; color: #faffff; }
h2 { margin: 0 0 .5em 0; font-size: 1.4em; font-weight: 500; line-height: 1.1em; }

p { margin: 0 0 1em 0; }

a { color: #F26241; }
a:visited { color: #F26241}

/* Header */

#home{
  height: 670px;
  background: #faffff url(../img/Adption-Header-1.jpg) no-repeat center bottom ; 
 /* background: #faffff url(../img/logo.gif) no-repeat left top ; */
  position: relative;
}

#home > h2{
  position: absolute;
  padding-left: 0.2em;
  top: 60%;
}

#donations{
  height: 670px;
  background: #faffff url(../img/Donation-Header-4.jpg) no-repeat center bottom; 
  position: relative;
  object-fit: contain;  
}

#donations > h2{
  position: absolute;
  padding-left: 0.2em;
  top: 60%;
}

#resources{
  height: 670px;
  background: #faffff url(../img/Donation-Header-3.jpg) no-repeat center bottom; 
  position: relative;
  object-fit: contain;  
}

#resources > h2{
  position: absolute;
  padding-left: 0.2em;
  top: 60%;
}

#applyNow{
  height: 670px;
  background: #faffff url(../img/Donation-Header-3.jpg) no-repeat center bottom; 
  position: relative;
  object-fit: contain;  
}

#applyNow > h2{
  position: absolute;
  padding-left: 0.2em;
  top: 60%;
}

header h1 {
  text-align: left;
  position: absolute; 
  display: block; width: 540px; height: 100px;
  left: 0px; top: 0px; 
  font-size: 3.6em; font-weight: 600;
  margin: 0 0 10px 0; 
  color: #fafafa
}

header h2 {
  text-align: left;
  justify-content: center;
  position: absolute; 
  display: block; width: 860px; height: 140px;
  background: #ffffff;
  opacity: 0.7;
  left: 0px; bottom: 60px; 
  font-size: 3.6em; font-weight: 800;
  margin: auto; 
  color: #ffa500;

}



.flexContainer{
  display: flex;
}


/* Section - All */

section { padding: 0 30px; }


/* Navigation */

nav {
  z-index: 20;
    position: sticky;
    top: 0;
    padding: 0.5em 0em;
    width: 100%;
    background-color: #84D78D;
    opacity: 0.9;
}

nav::after { content:''; display: block; clear: both; }

nav ul { list-style: none; margin: 0; padding: 0; }

 nav ul li a {
    display: inline-block;
    text-align: center;
    color: #000;
    opacity: 1;
    padding: 10px 5px;
    text-decoration: none;
    position: relative;
}

 nav ul li a:visited { color: #000; } 


nav ul li a:hover { color: #F26241; }   

nav > ul { padding-right: 20px; }

nav > ul > li { 
  float: right; 
  border-left: 1px solid; 
  border-color: #aaa; 
  padding: 0.2em 1em; 

}

.active{
  background-color: #DFD354;
}

/* Media Queries */

@media screen and (max-width: 1125px) {

}

section.donate {
  position: relative;
  margin: 2em auto;
  padding: 2em;
  border: 3px solid #50BFA0;
  text-align: center;
}

section.donate button {
  border: 1px solid #50BFA0;
  background-color: #FFFFFF;
  font-size: 1em;
  margin: 0.2em;
}

section.donate button:hover{
  background-color:#50BFA0;
}

section.Form{
  border: 3px solid #50BFA0;
  margin: 1em auto;
  padding: 2em;
  text-align:center;

}

.choiceCenter{
  display: block;
  text-align: left;
  margin: 0 auto;
  padding-left: 30%; 
  
}

.choiceCenter ul{
  list-style: none;
  padding-left: 0;
}

input[type=submit] {
  font-size: 1em;
}
input[type=submit]:hover {
  background-color:#50BFA0;
}

input{
  border: 3px solid #50BFA0;
  background-color: #FFFFFF;
}

section{
  padding-top: 4em; 
  padding-left: 10%;
  width: 70%; 
}

