/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

body { font-family: 'Montserrat', sans-serif; font-size: 16px; font-weight: 300; color: #777480;
    margin: 0; padding: 0; background: #faffff; }

#page { max-width: 1200px; margin: 0 auto; position: relative; }

/* Text */

h1 { margin: 0 0 1em 0; font-size: 2.8em; font-weight: 300; color: #faffff; }
h2 { margin: 0 0 .5em 0; font-size: 1.4em; font-weight: 500; line-height: 1.1em; }

p { margin: 0 0 1em 0; }

a { color: #007eff; }
a:visited { color: #65b1ff}

/* Header */

header { height: 670px; background: #faffff url(https://engonetac.blob.core.windows.net/assets/uploads/img/Artboard%20.png) no-repeat center bottom; position: relative; }

/* Section - All */

section { padding: 0 30px; }


/* Navigation */

nav { 
    position: absolute;
    top: 0px; left: 0px;
    padding: 50px 0 0 0;
    width: 100%;
}

nav::after { content:''; display: block; clear: both; }

nav ul { list-style: none; margin: 0; padding 0; }

nav ul li a { 
    display: inline-block;
    text-align: center;
    color: #777480;
    padding: 10px 5px;
    text-decoration: none;
    width: 150px;
    position: relative;
}

nav ul li a:visited { color: #777480; }
nav ul li a:hover { color: #000; }

/* Media Queries */

@media screen and (max-width: 1125px) {

}